/* color name */
/* h1{
    color: red;
} */

/* HEX Code */
/* h1{
    color:#764523;
} */

/* RGB */
/* h1{
    color: rgb(305, 205, 10);
} */

/* Background Color */
/* body{
    background-color: wheat;
    color: blue;
} */
/* Back&foregroundcolor */
/* div{
    background-color: wheat;
    color: red;
}

h1{
    background-color:blue;
    color: brown; */
/* } */

/* Opacity */
/* #div1{
    background-color: green;
    opacity:1;
} */

/* img{
    opacity: .5;
} */

